# cklist top level folder
/*

!.gitignore


!.config
.config/*
!.config/jrnl/
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.config/ranger
.config/ranger/*
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/ranger/rc.conf
!README.md

!.oh-my-zsh/
.oh-my-zsh/*
!.oh-my-zsh/custom/
.oh-my-zsh/custom/*
!.oh-my-zsh/custom/aliases.zsh
!.oh-my-zsh/custom/example.zsh

!.bashrc
!.zshrc

!.vimrc
!.vim/
.vim/*
!.vim/autoload
